{% extends 'usuario/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Reserva de Habitación</h2>

    <!-- Datos de la Habitación -->
    <form method="POST" action="{{ url_for('hospedaje_usuario.reservar_habitacion', habitacion_id=habitacion.id) }}">

        <div class="mb-3">
            <label>ID Habitación</label>
            <input type="text" class="form-control" value="{{ habitacion.id }}" name="habitacion_id" readonly>
        </div>
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" value="{{ habitacion.nombre }}" readonly>
        </div>
        <div class="mb-3">
            <label>Precio</label>
            <input type="text" class="form-control" value="{{ habitacion.precio }}" readonly>
        </div>
        <div class="mb-3">
            <label>Cupo de Personas</label>
            <input type="number" class="form-control" name="cupo_personas" min="1" value="{{ habitacion.cupo_personas }}" readonly>
        </div>
        <div class="mb-3">
            <label>Check-in</label>
            <input type="date" class="form-control" name="check_in" required>
        </div>
        <div class="mb-3">
            <label>Check-out</label>
            <input type="date" class="form-control" name="check_out" required>
        </div>

        <hr>

        <!-- Datos del Huésped -->
        <h3>Datos Personales</h3>
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" required>
        </div>
        <div class="mb-3">
            <label>Tipo de Documento</label>
            <input type="text" class="form-control" name="tipoDocumento" required>
        </div>
        <div class="mb-3">
            <label>Número de Documento</label>
            <input type="text" class="form-control" name="numeroDocumento" required>
        </div>
        <div class="mb-3">
            <label>Teléfono</label>
            <input type="text" class="form-control" name="telefono" required>
        </div>
        <div class="mb-3">
            <label>Correo</label>
            <input type="email" class="form-control" name="correo" required>
        </div>
        <div class="mb-3">
            <label>Procedencia</label>
            <input type="text" class="form-control" name="procedencia" required>
        </div>

    <button class="btn btn-primary" type="submit">Confirmar Reserva</button>
    </form>

</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4 text-center">
      <h5 class="modal-title mb-3">Reserva Exitosa</h5>
      <p>Continuar con los metodos de pago</p>
      <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-secondary me-2" data-bs-dismiss="modal">Cerrar</button>
    <button class="btn btn-primary" onclick="window.location.href='{{ url_for('registro.login') }}'">Ir a Login</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

